:root {
  --primary: #fff;
  --topic-text: 20px;
}

/* CSS for top navbar buttons */
.btn--directional {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 15px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 15px;
  font-size: 20px;
}

.btn--large {
  padding: 8px 15px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

/* CSS for modules buttons */
.btn--modules {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--modules-style {
  background: rgba(0, 0, 0, 0);
  text-align: left;
  padding: 15px;
  font-weight: bold;
}

.btn--modules-size {
  font-size: var(--topic-text);
  width: 100%;
  height: 100%;
}

/* CSS for nav footer buttons */
.btn--nav-footer {
  background-color: #57a161;
  border-color: #c6c6c6;
  border-radius: 15px;
  border-width: 0 0 4px;
  color: #ffffff;
  cursor: pointer;
}
