:root {
    --heading-text: 30px;
    --sub-heading-text: 20px;
    --topic-text: 18px;
    --text-color: color: rgb(41, 52, 68);
    --max-box-width: 800px;
    --block-corner-radius: 10px;
}

.modules {
    background: rgb(249, 250, 251);
    padding-top: 25px;
}

.modules i {
    margin-right: 15px;
}

em {
    font-size: 15px;
    color: rgb(159, 159, 159);
}

.title-block {
    color: rgb(31, 41, 55);
    text-align: center;
    padding: 10px;
    font-size: var(--heading-text);
}

.description-block {
    font-size: var(--topic-text);
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    width: min(100% - 25px, 1000px);
    margin-bottom: 35px;
}

.description-block h1 {
    color: rgb(31, 41, 55);
    text-align: left;
    margin-bottom: 5px;
    font-size: var(--sub-heading-text);
    margin-left: auto;
    margin-right: auto;
}

.description-block p {
    color: rgb(79, 80, 82);
    text-align: left;
    margin-top: 5px;
    font-size: var(--topic-text);
    margin-left: auto;
    margin-right: auto;
}

.module-block-container {
    width: min(100% - 25px, 800px);
    margin:  auto auto 35px auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: var(--topic-text);
    border-radius: var(--block-corner-radius);
}

.module-block {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(223, 218, 218);
    padding: 15px;   
}

.module-block-title {
    border-top-left-radius: var(--block-corner-radius);
    border-top-right-radius: var(--block-corner-radius);
}

.module-block-content {
    border-bottom-left-radius: var(--block-corner-radius);
    border-bottom-right-radius: var(--block-corner-radius);
}

.module-block-topic {
    display: flex;
}

.module-block-topic:hover {
    background-color: rgba(224, 227, 231, 0.5);
    border-radius: 5px;
}

.left-div {
    flex: 1 1 auto;
    text-align: left;
}

.right-div {
    flex: 1 1 auto;
    text-align: right;
    justify-content: center;
}