:root {
  --header-font-size: 25px;
  --content-font-size: 20px;
  --left-margin: 20px;
  --font-color: rgb(64, 66, 68);
}

h4,
ol,
ul,
li,
p {
  font-family: "PT Serif Refular", serif;
  line-height: 26pt;
}

.objective-container {
  padding: 10px;
  margin: 10px 100px 50px 100px;
  border-radius: 15px;
  box-shadow: 0 0 0 3px transparent;
  background: var(--card);
  box-shadow: 0 0 50px -10px rgba(42, 41, 41, 0.3),
    0 0 25px -15px rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8;
}

.information-container {
  margin: 15px 15px 75px var(--left-margin); /*top right bottom left */
  border-bottom: black;
}

.headers {
  margin-left: var(--left-margin);
  font-size: var(--header-font-size);
}

.title-image-container {
  display: flex;
  justify-content: center;
}

.title-image {
  border-radius: 25px;
  box-shadow: 10px 10px lightblue;
  margin-bottom: 50px;
}

.information-container-header {
  color: var(--font-color);
  font-size: var(--header-font-size);
}

.information-container-content {
  color: var(--font-color);
  font-size: var(--content-font-size);
  margin-left: var(--left-margin);
}

.key-terms-list-header {
  margin-left: var(--left-margin);
}
.key-terms-list {
  padding-left: 50px;
  font-size: var(--content-font-size);
  margin: 10px;
}

.sample-images {
  border: 3px solid #656464;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.video-block {
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
}
